# URL to the version.json file for update checks
# Example: https://raw.githubusercontent.com/Sandynoob/Lexile-Spelling-Master3.0/main/version.json
VITE_UPDATE_URL=https://raw.githubusercontent.com/Sandynoob/Lexile-Spelling-Master3.0/main/version.json

# Google AdMob Configuration
# Replace with your actual AdMob IDs
VITE_ADMOB_APP_ID=ca-app-pub-9053893199466734~3107879879
VITE_ADMOB_BANNER_ID=ca-app-pub-9053893199466734/4831734476
VITE_ADMOB_INTERSTITIAL_ID=ca-app-pub-9053893199466734/4448591090
